@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Konto zablokowane.</h1>
    <h2 class="text-danger">To konto zostało zablokowane. Skontakuj się z administratorem i spóbuj później.</h2>
</hgroup>
