@model MyHome.Models.AddressViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie adresu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-primary" />
        </div>
    }
    <div>
        @Html.ActionLink("Powrót do listy", "Index")
    </div>
</div>
