@model MyHome.Models.DeviceViewModel

@{
    ViewBag.Title = "SwitchDevice";
}

@if (Model.IsOn)
{
    <h2>Wyłączanie urządzenia</h2>
}
else
{
    <h2>Włączanie urządzenia</h2>
}

<h3>@Model.DeviceId</h3>
<div>
    <hr />
    @Html.Partial("_DeviceInfo", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.IsOn)
            {
                <input type="submit" value="Wyłącz" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Włącz" class="btn btn-default" />
            }

        </div>
    }
    <div>
        @Html.ActionLink("Powrót do listy urządzeń", "Details", new { id = Model.AddressId })
    </div>
</div>
