<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myhometr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myhometr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyHomeTR</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyHomeTR</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User ID=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01" Name="Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User Id=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyHome.Models.ApplicationDbContext, MyHome" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User ID=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01" Name="Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User Id=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyHome.DataModel.DataModelContainer, MyHome" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SGKey" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="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" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGKey_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="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" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User Id=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trwesteurope.database.windows.net,1433;Initial Catalog=MyHomeTR;User Id=TrAdmin@trwesteurope.database.windows.net;Password=TrWest01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>