@{
    ViewBag.Title = "Potwierdzenie";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Na twoje konto wysłano email z linkiem do resetowania hasła...
    </p>
</div>
	
